
ENVIRONMENT=development
FALLBACK_LANGUAGE=es

DB_TYPE=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_HOST=

HOST_API=
HOST_FRONT=

SERVER_PORT=
THROTTLE_TTL=60
THROTTLE_LIMIT=10
JWT_SECRET=

WORD_API=https://random-words-api.kushcreates.com/api