{
  "singleQuote": true,
  "trailingComma" : "all",
  "endOfLine" : "auto",
  "embeddedLanguageFormatting" : "auto",
  "objectWrap" : "preserve",
  "bracketSameLine": false,
  "singleAttributePerLine" : false,
  "bracketSpacing" : true,
  "printWidth": 100
}